<div class="navbar navbar-fluid-top navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/"><%= @apartamento.imovel.nome %> - Apto: <%= @apartamento.numero %>, bloco: <%= @apartamento.bloco %> </a>
			<div class="nav-collapse">
				<% if usuario_signed_in? %>
				<ul class="nav pull-right">
					<li>
						<a id='botao_mensagem' href="#">Mensagens
							<% if @nao_lidas.count > 0  %>
							<span class="badge badge-important"> <%= @nao_lidas.count %> </span>
							
							<% else %>
							<span class="badge"> <%= @nao_lidas.count %></span>
							<% end %>
						</a>
					</li>
					<li>
						<a href="/admin/">Configurações</a>
					</li>

					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a rel="nofollow">
							<span><%= @usuario.email%></span>
						</a>
					</li>

					<li>
						<a rel="nofollow" data-method="delete" href="/usuarios/sign_out">
							<span class="label label-important">Terminar Sessão</span>
						</a>
					</li>

				</ul>
				<% end %>
			</div><!--/.nav-collapse -->

		</div>
	</div>
</div>
<div id="principal" style='padding-top: 45px;'>
	<h1  class='text-right' >Total: <%= number_to_currency(@tota_a_pagar) %></h1>

	<div id='mensagens' class='well' style=' display:none'>
		<%= render :partial =>'mensagens/mensagens'%>
	</div>

	<div class="well">
		<table class="table">
			<thead>
				<tr>
					<th>Conta</th>
					<th>Vencimento</th>
					<th>Status</th>
					<th>Valor (R$)</th>
					<th>Detalhes</th>
				</tr>
			</thead>
			<tbody>
				<% @contas.each do |conta| %>
				<tr>
					<td><%= conta['tipo'] %></td>
					<td><%= I18n.l(conta['vencimento']) %></td>
					<td><%= conta['status'] %></td>
					<td class='text-right'><%= number_to_currency(conta['valor']) rescue 0   %></td>
					<td><a href="#">Detalhes</a></td>
				</tr>
				<% end%>	
			</tbody>
		</table>
	</div>
</div>
