<div class="navbar navbar-fluid-top navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/"><%= @apartamento.imovel.nome %> - Apto: <%= @apartamento.numero %>, bloco: <%= @apartamento.bloco %></a>
			<div class="nav-collapse">
				<% if usuario_signed_in? %>
				<ul class="nav pull-right">
					<li>
					<a href="/admin/">Admin</a>
					</li>

					<li>
						<a href="/">Home</a>
					</li>

					<li>
						<a rel="nofollow" data-method="delete" href="/usuarios/sign_out">
							<span class="label label-important">Terminar Sessão</span>
						</a>
					</li>

				</ul>
				<% end %>
			</div><!--/.nav-collapse -->

		</div>
	</div>
</div>

<div id="principal" style='padding-top: 45px;'>

	<div class="well">
		<table class="table">
			<thead>
				<tr>
					<th>Conta</th>
					<th>Leitura total</th>
					<th>Leitura apartamento</th>
					<th>Consumo total</th>
					<th>Consumo apartamento</th>
					<th>Data de leitura</th>
					<th>Data de vencimento</th>
					<th>Status</th>
					<th>Valor total (R$)</th>
					<th>Valor apartamento (R$)</th>
				</tr>
			</thead>
			<tbody>
				<% @apartamento.apartamentos_leituras.order("created_at DESC").each do |leitura| %>
				<tr>
					<td>Agua</td>
					<td><%= leitura.leitura.leitura_atual %></td>
					<td><%= leitura.leitura_apartamento %></td>
					<td><%= leitura.leitura.consumo %></td>
					<td><%= leitura.consumo %></td>
					<td><%= I18n.l(leitura.leitura.data_leitura) %></td>
					<td><%= I18n.l(leitura.leitura.data_vencimento) %></td>
					<td><%= "STATUS" %></td>
					<td class='text-right'><%= number_to_currency(leitura.leitura.valor) %></td>
					<td class='text-right'><%= number_to_currency(leitura.valor)  %></td>

				</tr>
				<% end%>	
			</tbody>
		</table>
	</div>
</div>
