
<div id="principal" style='padding-top: 45px;'>
	<h1  class='text-right' >Total: <%= number_to_currency(@tota_a_pagar) %></h1>

	<div id='mensagens' class='well' style=' display:none'>
		<%= render :partial =>'mensagens/mensagens'%>
	</div>

	<div class="well">
		<table class="table">
			<thead>
				<tr>
					<th>Conta</th>
					<th>Vencimento</th>
					<th>Status</th>
					<th>Valor (R$)</th>
					<th>Detalhes</th>
				</tr>
			</thead>
			<tbody>
				<% @contas.each do |conta| %>
				<tr>
					<td><%= conta['tipo'] %></td>
					<td><%= I18n.l(conta['vencimento']) %></td>
					<td><%= conta['status'] %></td>
					<td class='text-right'><%= number_to_currency(conta['valor']) rescue 0   %></td>
					<td><a href="#">Detalhes</a></td>
				</tr>
				<% end%>	
			</tbody>
		</table>
	</div>
</div>
