<% if current_usuario.apartamento.mensagens_enviadas.count > 0 %>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th class="span1"></th>
      <th class="span2">Apartamento </th>
      <th class="span10">Mensagem</th>
      <th class="span3">Data</th>
    </tr>
  </thead>
  <tbody>
    <% current_usuario.apartamento.mensagens_enviadas.each do |mensagem| %>
    <tr>
      <td><input class='mensagem' type="checkbox" id="<%= mensagem.id %>"> </td>
      <td><strong><%= mensagem.para.bloco %> - <%= mensagem.para.numero %></strong></td>
      <!-- <td><span class="label pull-right">Notifications</span></td> -->
      <td><strong><%= mensagem.mensagem%></strong></td>
      <td><strong><%=   I18n.l(mensagem.created_at) %></strong></td>
    </tr>
    <% end%>
  </tbody>
</table>

<% else %>
<div class="alert alert-block">
  <h4>Nenhuma mensagem encontrada
  </h4>
  <p>Você ainda não enviou nenhuma mensagem.</p>
</div>
<% end %>